body {
  display: flex;
  min-height: 100vh;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 0 10vw;
  font-family: Verdana;
  color: #252525;
  margin: auto;
}

.list {
  grid-column-start: 1;
  grid-column-end: 3;
}
